<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>maven-public</id>
            <username>IhyTdX</username>
            <password>58yfI0TpbzN6OWPZQgNdKfpKWERUsAN1z</password>
        </server>
        <server>
            <id>ossrh</id>
            <username>ooderCN</username>
            <password>IhyTdX:58yfI0TpbzN6OWPZQgNdKfpKWERUsAN1z</password>
        </server>
        <server>
            <id>central</id>
            <username>pNRjbX</username>
            <password>mA9WOtPPfzH9EkPABH90jIQMliTKNDtTq</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>aliyunmaven</id>
            <mirrorOf>central</mirrorOf>
            <name>Aliyun Maven</name>
            <url>https://maven.aliyun.com/repository/public</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>jdk-1.8</id>
            <activation>
                <activeByDefault>true</activeByDefault>
                <jdk>1.8</jdk>
            </activation>
            <properties>
                <maven.compiler.source>1.8</maven.compiler.source>
                <maven.compiler.target>1.8</maven.compiler.target>
                <maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
            </properties>
        </profile>
        <profile>
            <id>gpg</id>
            <properties>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>jdk-1.8</activeProfile>
        <activeProfile>gpg</activeProfile>
    </activeProfiles>

</settings>